{% extends "base.html" %}

{% load static %}

{% load bootstrap5 %}

{% block content %}

<h3 class="p-3"><a style='text-decoration: none;' target="_blank" href="{{ book.book.url }}"> {{ book.name }}</a></h3> 
{% if all_audio %}
{% for audio in all_audio %}
<div style="display: inline-block;" class="p-3">
  <p>{{audio.name}}</p>
  <audio preload="none" controls="controls">
     <source src="{{ audio.audio.url }}" type="audio/mpeg" />
  </audio>
</div>
{% endfor %}
{% else %}
    <h5 class='p-3'>К этому учебнику нет аудио</h5>
{% endif %}
{% endblock %}
{% block script %}
    <script src="{% static 'english_teacher/js/books_audio.js' %}"></script>
{% endblock script %}
