{% extends "base.html" %}

{% load static %}

{% load thumbnail %}

{% load bootstrap5 %}

{% block content %}

<form style="display: flex; justify-content: center;" class="form-inline my-2 my-lg-0" action="{% url 'english_teacher:books_all' %}">
  <h3>Поиск по названию: &nbsp;</h3>
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_books">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название Учебника</th>
      <th scope="col">Изображение</th>
    </tr>
  </thead>
  {% for book in books %}
  <tbody>
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><h3><a style="text-decoration: none;" href="{% url 'english_teacher:book' book.id %}">{{ book.name }}</a></h3></td>
      <td>
        {% thumbnail book.image "70x100" crop="100%" as im %}
          <a href="{% url 'english_teacher:book' book.id %}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
        {% endthumbnail %}
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
