{% extends "base.html" %}

{% load static %}

{% load bootstrap5 %}

{% block content %}

  <h3 class="p-3">Учебник.<a style='text-decoration: none;' target="_blank" href="{{ book.book.url }}">{{ book.name }} (Нажми для просмотра учебника)</a></h3>

{% if all_audio %}
<h3 style="display: flex; justify-content: center;">Аудио к учебнику</h3>
<form style="display: flex; justify-content: center;" class="form-inline my-2 my-lg-0" action="{% url 'english_teacher:book' book.id %}">
  <h3>Введите номер юнита или страницы: &nbsp;</h3>
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_audio">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
</form>
{% for audio in all_audio %}
<div style="display: inline-block;" class="p-3">
  <p>{{audio.name}}</p>
  <audio preload="none" controls="controls">
     <source src="{{ audio.audio.url }}" type="audio/mpeg" />
  </audio>
</div>
{% endfor %}
{% else %}
    <h5 class='p-3'>К этому учебнику нет аудио</h5>
{% endif %}
{% endblock %}
{% block script %}
    <script src="{% static 'english_teacher/js/books_audio.js' %}"></script>
{% endblock script %}
