{% extends "base.html" %}

{% load bootstrap5 %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div style="text-align: center;">
    <h3>Введите слова для изучения</h3>

    <form id="register-form" name="register-form" method="post">
        {% csrf_token %}
        <div>
            <div>
                <p>Введите название вашего словаря:</p>{{ formset_name.as_p }}
            </div>
            <div>
                <p style='margin: auto; max-width:600px;'>{{ formset }}</p>
            </div>
        </div>
        <div class="pt-2">
            <button type="submit" class="btn btn-primary">Начинаем учить!</button>
        </div>
    </form>
    <div style='max-width: 700px; margin: auto;'>
        <p>Мы не рекомендуем изучать больше 10 слов за день. Но вы всегда можете создать новый словарь. Так же есть минимальй порог изучения, он составляет 5 слов.</p>
        <h6>Внимание!!!Перед тем как нажать кнопку "начинаем учить" Внимательно просмотрите введенные вами слова на наличие грамматических ошибок.(<i>Приложение настроенно на точное совпадение с введенными вами словами.</i>).Исправить ошибку в дальнейшем возможно только созданием нового словаря.</h6>
    </div>
</div>
{% endblock %}