nav label {    
    display: none;
    border: 1px solid #fff;   
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}
nav label:hover{
    color: #f00;
    border: 1px solid #f00;
}

input[type="checkbox"] {
    display: none;
}


@media screen and (max-width: 1200px) {
    .nav-link {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    
    nav label{
        display: flex;
        justify-content: center;
        margin: auto;
        align-items: center;
        width: 30%;

        color: white;
    }
    #nav {
        display: none;
    }
    input[type="checkbox"]:checked ~ label + #nav {
        display: flex;
    }
    .nav-link {
        font-size: 60%;
    }    
}
.label_self_study {
    margin: auto;
    width: 520px;
}

label {
    font-size: 0%;
}

label[class~="small_menu"] {
    font-size: 100%;
}

@media screen and (min-width: 1500px) {
    .label_self_study {
        margin: auto;
        max-width: 520px;
    } 
}