<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Сброс пароля</title>
    <link rel="shortcut icon" href="https://faviconka.ru/ico/2/faviconka.ru_2_150214.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <h1>Здравствуйте вы запрашивали сброс пароля.</h1>  
    <p>Для сброса пароля перейдите по
        <a target="_blank" class="button"
                href="{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}">
            этой
        </a>
    ссылке</p>
</body>
</html>