
.head {
    text-align: center;
}

.homework {
    margin: 1em;
    padding: 1em;
    background-color: #FBFF08FF;
    border-radius: 10px;
    width: 30vh;
    height: 20vh;
}

.link_homework {
    text-decoration: none;
    margin: auto;
}

.name_homework {
    text-align: center;
}

@media screen and (max-height: 600px) {
    .link_homework {
        font-size: 80%;
    }
}
