{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
    <div class="text-center">
    <h1>Сброс пароля</h1>
    {% if validlink %}
        <p>Пожалуйста введите новый пароль дважды:</p>
    </div>
    <div class="row justify-content-center">    
        <form method="post" style="max-width: 300px;">
          {% csrf_token %}
          {% for field in form %}              
          <div class="mb-3">
            {{ field.label }}
            {{ field }}
          </div>
          {% endfor %}
          <button  type="submit" class="btn btn-primary">Отправить</button>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна, возможно, потому что она уже использовалась. Запросите новый сброс пароля.</p>
    {% endif %}
    </div>
{% endblock %}