{% extends "base.html" %}

{% block content %}
    <div class="text-center">
        <h1>Забыли свой пароль?</h1>
        <p>Введите адресс электронной почты для смены пароля.</p>
    </div>
    <div class="row justify-content-center">    
        <form method="post" class="w-75">
          {% csrf_token %}
          {% for field in form %}              
          <div class="mb-3">
            <div class="p-1"> {{ field.label }} </div>
            <div class='p-1'> {{ field }} </div>
            <div id="emailHelp" class="form-text">На вашу почту будет отправленно сообщение с инструкциями по смене пароля</div>
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
{% endblock %}