{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<div class="row">
    <div class=" w-50 shadow-lg p-3 mb-5 bg-white rounded mx-auto">
        {% bootstrap_messages %}
        <h1 class="reg-chapter">Регистрация пользователя</h1>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons submit="Зарегестрироваться" %}
            {% endbuttons %}
        </form>
        <h4><span style='color: red;'>Внимание!</span> Регистрация необходима только тем пользователям которые договорились о занятиях с преподавателем.</h4>
    </div>
</div>

{% endblock content %}
