{% extends "base.html" %}

{% load static %}

{% block content %}
<div style="display:flex; flex-direction: column; padding: 50px;">
    <h5><a style='text-decoration: none;' target="_blank" href="{{ book_url }}"> {{ homework.book }}</a></h5>
    <p>Прослушать аудио к учебникам</p>
    <audio controls="controls">
        <source src="{{ homework.audio.audio.url }}" type="audio/mpeg" />
    </audio>
    <hr>
    <p>{{ homework.remark }}</p>
    {% if homework.video %}
        <h6>просмотреть видео урок</h6>
        <video width="400" height="300" controls="controls" poster="video/duel.jpg">
            <source src="{{ homework.video.video.url }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        </video>
    {% endif %}
    <hr>
    {% if studywords %}        
        <a style='text-decoration: none;' href="{% url 'english_teacher:studywords' homework.id %}">Учить слова</a>    
    {% endif %}
</div>


{% endblock %}
