{% extends "base.html" %}

{% load static %}



{% block content %}
<div style="text-align:center">
    {% for h in studyhomework %}
    <div class="p-2">
        <h3 class="p-1">Задание №{{ forloop.counter }}</h3>
        <h4 class="p-1">Учебник:<a style='text-decoration: none;' target="_blank" href="{{ h.book.book.url }}"> {{ h.book }}</a></h4>
        <h6 class="p-1"> {{ h.review }}</h6>
        <audio class="p-1" controls="controls">
            <source src="{{ h.audio.audio.url }}" type="audio/mpeg" />
        </audio>
    </div>
    {% endfor %}
    <div class="p-2">
    {% if studywords %}
            <h4>Вам необходимо выучить следующие слова </h4>
            <table class="table table-striped" style="width: auto; margin: auto;">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Слово на английском</th>
                  <th scope="col">Перевод</th>
                </tr>
              </thead>
              {% for s in studywords %}
              <tbody>
                <tr>
                  <th scope="row"> {{ forloop.counter }} </th>
                  <td>{{s.english_word}}</td>
                  <td>{{ s.rus_word }}</td>
                </tr>
              </tbody>
              {% endfor %}
            </table>

<!--            <p>(-->
<!--        {% for s in studywords %}-->
<!--                {{s.english_word}} - {{ s.rus_word }},-->
<!--        {% endfor %}-->
<!--            )</p>-->
        <a style='text-decoration: none;' href="{% url 'english_teacher:studywords' homework.id %}"><button type="button" class="btn btn-warning w-25 m-3">Учить слова</button></a>
    {% endif %}
    </div>
</div>

{% endblock %}
